AUKUS_BACKEND_PORT=
AUKUS_HOST=
AUKUS_SAVE_STREAM_CATEGORIES=
AUKUS_SEND_NOTIFICATIONS=
AUKUS_SOCKS5_PROXY=
AUKUS_TG_BOT_TOKEN=
AUKUS_TG_CHAT_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FLASK_SESSION_SECRET=
LOGS_DISCORD_WEBHOOK=
MOVES_DISCORD_WEBHOOK=
MYSQL_AUKUS_DB_NAME=
MYSQL_GAMES_DB_NAME=
MYSQL_HOST=
MYSQL_LOGIN=
MYSQL_PASSWORD=
RANDOM_ORG_API_KEY=
S3_BUCKET_NAME=
TWITCH_BEARER_TOKEN=
TWITCH_CLIENT_ID=
