TWITCH_CLIENT_ID=
TWITCH_BEARER_TOKEN=
MYSQL_HOST=
MYSQL_LOGIN=
MYSQL_PASSWORD=
MYSQL_AUKUS_DB_NAME=
MYSQL_GAMES_DB_NAME=
FLASK_SESSION_SECRET=
MOVES_DISCORD_WEBHOOK=
LOGS_DISCORD_WEBHOOK=
AUKUS_SOCKS5_PROXY=
AUKUS_TG_BOT_TOKEN=
AUKUS_TG_CHAT_ID=
RANDOM_ORG_API_KEY=
AUKUS_BACKEND_PORT=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
